body{
    text-align: center;
    background-color: rgb(61, 61, 61);
    color:aliceblue;
}
#btn{
    background-color: beige;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
    cursor:pointer;
}
#btn:hover{
    background-color: rgb(204, 204, 89);
}
#btn:active{
    background-color: rgb(112, 112, 6);
}
#picture img{height:100px;width:100px;margin:5px;}
